<%- include('./partials/header'); -%>

        <form action="/signin" method="post" class = "form-signin text-center">
            <img src="/icon/iconfinder_security__key__lock__protect_2536708.svg" alt="" width="100" height="100"/>
            <h1 class = "h3 mb-3 font-weight-normal">Sign in</h1>

            <div class="form-group">
                <input id="inputEmail" class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input id="inputPassword" class="form-control" type="password" name="password" placeholder="Password" required autofocus>
            </div>


            <button class="btn btn-lg btn-secondary btn-block form-control">Sign in</button>
            <a href="/photoboards">Go Back</a>

        </form>

<%- include('./partials/footer'); -%>

